.container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 80vw;
    height: 3rem;
    transition: all 0.4s ease-in; 
    background-color:#ff008c;
    margin: 10px 0;
    border-radius: 10px;
}
.card :hover{
    transform: scale(1.06);
    transition: all 0.4s ease-in; 
}

.card_image{
    /* background-image: url('https://assets.sentinelassam.com/h-upload/2020/11/18/174149-msd.webp?w=400&dpr=2.6'); */
    background-color: #ff008c;
    height: 5rem;
    background-size: cover;
    border-radius: 10px;
}

.dept{
   text-align: center;
   margin: 0 auto;
   margin-top: 0.6rem;
}