.container{
 color: white;
}
.events{
    text-align: center;
    margin: auto;
    font-size: 6em;
    width: 250px;
    border-bottom: 3px solid #FF008C;
    font-family: Playfair Display;
}
.eventpara{
    font-size: 32px;
    text-align: center;
    font-family: Playfair Display;
}
.games{
    text-align: center;
    margin-left: 12rem;
    font-size: 5rem;
    height: 106px;
    width: 299px;
    border-bottom: 7px solid #FF008C;
    font-family: Playfair Display;
    font-style: normal;
    margin-bottom: 2.5rem;
}
.webinar{
    text-align: center;
    margin-left: 12rem;
    font-size: 5rem;
    height: 106px;
    width: 384px;
    border-bottom: 7px solid #FF008C;
    font-family: Playfair Display;
    font-style: normal;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}
.codingEvents{
    text-align: center;
    margin-left: 12rem;
    font-size: 5rem;
    height: 106px;
    width: 42rem;
    border-bottom: 7px solid #FF008C;
    font-family: Playfair Display;
    font-style: normal;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}
.box{
    height: auto;
    margin-left: 15vh;
    padding: 40px;
    display: flex;
    width: 92%;
}
.imgchild{
    width:40%;
    height: auto;
}
.contentchild{
    width: 55%;
    height: auto;
    font-size: 30px;
    padding: 0rem 0px 0rem 17rem;
    margin: auto;
}
.contentchild ul{
    list-style-type: none;
}
.image{
    width:444px;
    object-fit:cover;
}

.muchMore{
    text-align: center;
    font-size: 3rem;
    font-family: Playfair Display;
    color: #FF1B98;
}